@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";



 .swiper {
  width: 450px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain !important;

}



.swiper {
  width: 100%;
  object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
  
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 450px !important;

}

.mySwiper {
  height: 30% !important;
  box-sizing: border-box;
  margin-top: 10px !important;
  
}

.mySwiper .swiper-slide {
  width: 110px !important;
  height: 100px !important;
  opacity: 1 !important;
  background-color: white !important;
  border: 1px solid #E4E7E9 !important;
  border-radius: 4px !important;
}

.mySwiper .swiper-slide-thumb-active {
    border: 1px solid #FA8232 !important;
    border-radius: 4px !important;


  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F2F4F5 ;
  object-fit: contain;
   border-radius: 4px !important;
}
.swiper-button-next{
    border-radius: 50px !important;
    background-color: #FA8232 !important;
    padding: 10px !important;

}
.swiper-button-prev{
    border-radius: 50px !important;
    background-color: #FA8232 !important;
    padding: 10px !important;
}
.moto{
  width: 872px !important;
  height: 540px !important;
  object-fit: contain !important;
  margin-bottom: 70px;
  background-color: #F2F4F5 !important;
  border-radius: 6px !important;
}
.swiper-pagination{
  position: fixed; 
  bottom: 40px !important;
  left: -290px !important;
}
.swiper-pagination-bullet{
  background: #191C1F !important;
  width: 10px !important;
  height: 10px !important; 
}